@font-face {
    font-family: "HSUG";
    src: url("../../Font/HS유지체.ttf") format("truetype");
    font-weight: normal;
  }
  
  .navBtn {
    border: solid 0px;
    padding: 5px 10px;
    font-size: 14px;
    color: white;
    margin: 0 10px;
    font-weight: 500;
    text-decoration-line: none;
  }
  
  .navBtn:hover {
    color: lightgray;
  }
  
  .navbar {
    width: 100%;
    z-index: 1;
    background-color: #242424;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'HSUG';
  }
  
  .navbar > .navbarContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbarContainer > .title {
    margin-left: 20px;
    font-size: 20px;
    font-family: 'HSUG';
  }
  
  .navbarInfo {
    display: flex;
    align-items: center;
    margin: 0 20px;
  }